#bloc_page
{
	font-family: Raleway;
}

#logo_graphique
{
	width: 20px;
	height: 20px;
}

/* Header */
#logo
{
	width: 85px;
	height: 43px;
}

#titre
{
	font-size: 10px;
	margin-bottom: -7px
}

#sous_titre
{
	font-size: 14px;
}

#en_tete
{
	margin-top: 20px;
}

nav
{
    width: 700px;
    text-align: right;
    margin-left: 500px;
    margin-top: -118px;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

#reservia
{
	padding-top: 20px;
	margin-bottom: 100px;
}

nav a
{
	text-decoration: none;
	font-size: 14px;
	color: black;
	padding-top: 39px;
}

#inscription
{
	color: #0065FC;
	font-weight: bold;
	border-top: none;
	margin-left: 17px
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/* Barre de recherche */
#zone_recherche
{
	display: flex;
	margin-top: -15px
}

#ville
{
	width: 145px;
	height: 35px;
	padding-left: 10px;
	border: 1px solid #F2F2F2;
}

#gps
{
	
	border: 1px solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	width: 35px;
	height: 37px;
	margin-top: 16px;
	background-color: #F2F2F2;
}

#logo_gps
{
	width: 14px;
	height: 14px;
	padding-left: 10px;
	padding-top: 12px;
}

#bouton_recherche
{
	background-color: #0065FC;
	border-radius: 0px 10px 10px 0px;
	height: 29px;
	width: 90px;
	margin-top: 16px;
	padding-top: 10px;
	padding-left: 10px;
}

.bouton
{
	text-decoration: none;
	color: white;
	font-size: 14px
}

/* Filtres */
#filtres
{
	display: inline-flex;
	margin-top: 10px;
}

#filtres li
{
	margin-right: 20px;
	display: flex;
	font-size: 15px;
}

#filtres p
{
	font-size: 14px;
	padding-top: 5px;
	margin-right: -15px;
}

#filtres ul
{
	list-style-type: none;
	display: inline-flex;
}

#filtres a
{
	text-decoration: none;
	color: black;
}

/* Icones et bordures */
#eco
{
	width: 22px;
	height: 32px;
	border: 0px;
	border-radius: 30px 30px 30px 30px;
	padding: 10px 10px 10px;
	padding-bottom: 0px;
	margin-top: -10px;
	background-color: #b5d6ff;
	position: relative;
	margin-right: 120px;
	z-index: 2;
}

#logo_eco
{
	width: 18px;
	margin-top: 3px;
	margin-left: 2px;
}

#famille
{
	width: 22px;
	height: 32px;
	border: 0px;
	background-color: #b5d6ff;
	border-radius: 30px 30px 30px 30px;
	padding-right: 13px;
	padding-left: 8px;
	padding-top: 10px;
	margin-top: -10px;
	position: relative;
	margin-right: 87px;
	z-index: 4;

}
#logo_famille
{
	width: 8px;
	padding-left: 10px
}

#romantique
{
	width: 22px;
	height: 32px;
	border: 0px;
	background-color: #b5d6ff;
	border-radius: 30px 30px 30px 30px;
	padding-right: 13px;
	padding-left: 8px;
	padding-top: 10px;
	margin-top: -10px;
	position: relative;
	margin-right: 120px;
	z-index: 6;
}

#logo_romantique
{
	width: 18px;
	margin-left: 5px;
	margin-top: 2px;
}

#animaux
{
	width: 22px;
	height: 32px;
	border: 0px;
	background-color: #b5d6ff;
	border-radius: 30px 30px 30px 30px;
	padding-right: 13px;
	padding-left: 8px;
	padding-top: 10px;
	margin-top: -10px;
	position: relative;
	margin-right: 120px;
	z-index: 8;
}

#logo_animaux
{
	margin-left: 5px;
	width: 19px;
}

/* Bordures titres de filtres */
#economique_text
{
	margin-left: 20px;
	margin-top: -10px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #dedede;
	border-radius: 0 20px 20px 0;
	position: absolute;
	z-index: 1;
}

#familial_text
{
	margin-left: 20px;
	margin-top: -10px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #dedede;
	border-radius: 0 20px 20px 0;
	position: absolute;
	z-index: 3;
}

#romantique_text
{
	margin-left: 20px;
	margin-top: -10px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #dedede;
	border-radius: 0 20px 20px 0;
	position: absolute;
	z-index: 5;
}

#animaux_text
{
	margin-left: 20px;
	margin-top: -10px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #dedede;
	border-radius: 0 20px 20px 0;
	position: absolute;
	z-index: 7;
}

/* Zone information */
#info
{
	display: flex;
	margin-top: 5px;

}

#logo_info
{
	width: 8px;
	height: 11px;
	border: 2px solid #dedede;
	border-radius: 20px 20px 20px 20px;
	margin-top: 9px;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 6px;
	padding-right: 6px;
}

#info p
{
	font-size: 14px;
}

/* Première Section */
#cartes_hebergements
{
	width: 808px;
	height: 570px;
	background-color: #f0f0f0;
	border-radius: 20px 20px 20px 20px;
	margin-top: 10px;
	padding-top: 20px;
}

#cartes_hebergements h1
{
	font-size: 20px
}

#cartes_hebergements h3
{
	font-size: 15px;
}

#cartes a
{
	text-decoration: none;
	color: black;
}

#cartes p
{
	font-size: 12px;
}

#etoile
{
	width: 12px;
	height: 12px;
}

#etoile_vide
{
	width: 12px;
	height: 12px;
}

#cartes_hebergements h1
{
	padding-left: 30px;
}
#cartes_hebergements #haut
{	
	display: flex;			
}

#cartes_hebergements #bas
{
	display: flex;
}

/*cannebiere*/
#cannebiere
{
	margin-bottom: 30px;
	padding-left: 30px;
}

#cannebiere_img
{
	width: 220px;
	height: 130px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 0px 0px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;
}

#description1 p, #description1 #etoiles1
{
	margin-top: -10px;
}

#description1
{
	margin-top: 118px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 213px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;

}

/*hotel du port*/
#description2 p, #description2 #etoiles2
{
	margin-top: -10px;
}

#description2
{
	margin-top: 118px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 213px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#hotel_port_img
{
	width: 220px;
	height: 130px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 17px 17px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#hotel_port
{
	padding-left: 30px;
}


/*hotel mouettes*/
#description3 p, #description3 #etoiles3
{
	margin-top: -10px;
}

#description3
{
	margin-top: 118px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 213px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#hotel_mouettes_img
{
	width: 220px;
	height: 130px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 17px 17px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#hotel_mouettes
{
	padding-left: 30px;
}

/*hotel de la mer*/
#description4 p, #description4 #etoiles4
{
	margin-top: -10px;
}

#description4
{
	margin-top: 118px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 213px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#hotel_mer_img
{
	width: 220px;
	height: 150px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 17px 17px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#hotel_mer
{
	margin-bottom: 20px;
	padding-left: 30px;
}


/*auberge*/
#description5 p, #description5 #etoiles5
{
	margin-top: -10px;
}

#description5
{
	margin-top: 118px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 213px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#auberge_img
{
	width: 220px;
	height: 130px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 17px 17px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#auberge
{
	padding-left: 30px;
}

/*hotel amina*/
#description6 p, #description6 #etoiles6
{
	margin-top: -10px;
}

#description6
{
	margin-top: 118px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 213px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#hotel_amina_img
{
	width: 220px;
	height: 150px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 17px 17px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#hotel_amina
{
	padding-left: 30px;
}

/*Boutton afficher plus*/
#afficher_plus
{
	margin-left: 30px;
}

#afficher_plus a
{
	text-decoration: none;
	color: black;
}
