#bloc_page
{
	width: 1150px;
    margin: auto;
}

@media (max-width: 1024px)
{
	#bloc_page 
	{
    	width: auto;
	}
}

body
{
	font-family: Raleway;
}

#logo_graphique
{
	width: 20px;
	height: 20px;
}

/*-----Header-----*/
#logo
{
	width: 105px;
	margin-right: 0px;
	
}

@media (max-width: 1024px)
{
	#logo
	{
		height: auto;
    	width: 150px;
    	margin-right: 500px;
	}
}

#titre
{
	font-size: 10px;
	margin-bottom: -10px
}

#sous_titre
{
	font-size: 14px;
}

#en_tete
{
	margin-top: 20px;
}

#insc
{
	display: none;
}

@media (max-width: 1024px)
{
	#insc
	{
		display: initial;
	}
}

@media (max-width: 1024px)
{
	#logo, .insc
	{
		display: inline;
	}
}

.haut-page
{
	display: flex;
	justify-content: space-between;
}

@media (max-width: 1024px)
{
	nav, #logo
	{
		
	}
}
nav
{

}

@media (max-width: 1024px)
{
	nav
	{
    	margin-left: 0px;
	}
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 55px;
}

nav a
{
	text-decoration: none;
	font-size: 14px;
	color: black;
	padding-top: 37px;
}

#inscription
{
	color: #0065FC;
	font-weight: bold;
	border-top: none;
	margin-left: 17px
}

@media (max-width: 1024px)
{
	#inscription
	{
		display: none;
	}
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*-----Barre de recherche-----*/
#zone_recherche
{
	display: flex;
	margin-top: -15px
}

#ville
{
	width: 145px;
	height: 35px;
	padding-left: 10px;
	border: 1px solid #F2F2F2;
}

#gps
{
	border-radius: 10px 0px 0px 10px;
	width: 35px;
	height: 39px;
	margin-top: 16px;
	background-color: #F2F2F2;
}

#logo_gps
{
	width: 14px;
	height: 14px;
	padding-left: 10px;
	padding-top: 12px;
}

#bouton_recherche
{
	background-color: #0065FC;
	border-radius: 0px 10px 10px 0px;
	height: 29px;
	width: 90px;
	margin-top: 16px;
	padding-top: 10px;
	padding-left: 10px;
}

@media all and (max-width: 1024px)
{
	#bouton_recherche
	{
		border-radius: 10px 10px 10px 10px;
		width: 30px;
		position: relative;
		margin-left: 150px;
	}
}

#loupe
{
	display: none;
}

@media all and (max-width: 1024px)
{
	#loupe
	{
		display: initial;
	}

	.fa-search
	{
		padding-left: 2px;
		color: white;
	}
}

.bouton
{
	text-decoration: none;
	color: white;
	font-size: 14px
}

@media all and (max-width: 1024px)
{
	.bouton
	{
		display: none;
	}
}

/*-----Filtres-----*/
#filtres
{
	display: flex;
}

#inline
{
	display: inline-flex;

}

#vertical
{
	display: inline-flex;

}

#inline li, #vertical li
{
	margin-right: 20px;
	display: flex;
	font-size: 15px;
}

#inline p, #vertical p
{
	font-size: 14px;
	padding-top: 5px;
	margin-right: -15px;
}

#inline ul
{
	list-style-type: none;
	display: inline-flex;
}

#vertical ul
{
	list-style-type: none;
	display: inline-flex;
}

#inline a, #vertical a
{
	text-decoration: none;
	color: black;
}

/*-----Icones et bordures-----*/
/*-----Economique-----*/
.fa-money-bill-wave-alt
{
	width: 20px;
	height: 28px;
	border: 0px;
	border-radius: 30px 30px 30px 30px;
	padding-top: 14px;
	padding-left: 12px;
	padding-right: 10px;
	padding-bottom: 0px;
	margin-top: -10px;
	background-color: #b5d6ff;
	position: relative;
	margin-right: 120px;
	z-index: 2;
	color: #1f78fc;
}

/*-----Familial-----*/
.fa-male
{
	width: 16px;
	height: 28px;
	border: 0px;
	background-color: #b5d6ff;
	border-radius: 30px 30px 30px 30px;
	padding-right: 10px;
	padding-left: 17px;
	padding-top: 14px;
	margin-top: -10px;
	position: relative;
	margin-right: 50px;
	z-index: 4;
	color: #1f78fc;
}

/*-----Romantique-----*/
.fa-heart
{
	width: 21px;
	height: 28px;
	border: 0px;
	background-color: #b5d6ff;
	border-radius: 30px 30px 30px 30px;
	padding-right: 10px;
	padding-left: 12px;
	padding-top: 14px;
	margin-top: -10px;
	position: relative;
	margin-right: 120px;
	z-index: 6;
	color: #1f78fc;
}

/*-----Romantique-----*/
#animaux
{
	width: 20px;
	height: 32px;
	border: 0px;
	background-color: #b5d6ff;
	border-radius: 30px 30px 30px 30px;
	padding-right: 13px;
	padding-left: 10px;
	padding-top: 10px;
	margin-top: -10px;
	position: relative;
	margin-right: 120px;
	z-index: 8;
	color: #1f78fc;
}

#logo_animaux
{
	margin-left: 5px;
	width: 19px;
}

/*-----Bordures titres de filtres-----*/
#economique_text
{
	margin-left: 20px;
	margin-top: -10px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #dedede;
	border-radius: 0 20px 20px 0;
	position: absolute;
	z-index: 1;
}

#economique_text:hover
{
	font-size: 18px;
	background-color: #F2F2F2;
	border: 0px;
}

#familial_text
{
	margin-left: 20px;
	margin-top: -10px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #dedede;
	border-radius: 0 20px 20px 0;
	position: absolute;
	z-index: 3;
}

#familial_text:hover
{
	font-size: 18px;
	background-color: #F2F2F2;
	border: 0px;
}

#romantique_text
{
	margin-left: 20px;
	margin-top: -10px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #dedede;
	border-radius: 0 20px 20px 0;
	position: absolute;
	z-index: 5;
}

#romantique_text:hover
{
	font-size: 18px;
	background-color: #F2F2F2;
	border: 0px;
}

#animaux_text
{
	margin-left: 20px;
	margin-top: -10px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #dedede;
	border-radius: 0 20px 20px 0;
	position: absolute;
	z-index: 7;
}

#animaux_text:hover
{
	font-size: 18px;
	background-color: #F2F2F2;
	border: 0px;
}

/*-----Zone information-----*/
#info
{
	display: flex;
	margin-top: 5px;

}

.fa-info
{
	width: 6px;
	height: 12px;
	border: 2px solid #dedede;
	border-radius: 20px 20px 20px 20px;
	margin-top: 9px;
	margin-right: 10px;
	padding-top: 4px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 6px;
	color: #1f78fc;
}

#info p
{
	font-size: 14px;
}

/*-----Première section-----*/
#cartes_hebergements
{
	width: 745px;
	height: 530px;
	background-color: #f0f0f0;
	border-radius: 20px 20px 20px 20px;
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: 40px;
}

#cartes_hebergements h2
{
	font-size: 20px;
	margin-left: 35px;
}

#cartes_hebergements h3
{
	font-size: 15px;
}

#cartes a
{
	text-decoration: none;
	color: black;
}

#cartes p
{
	font-size: 12px;
}

#cartes_hebergements #haut
{	
	display: flex;			
}

#cartes_hebergements #bas
{
	display: flex;
}

#etoiles_pleines1, #etoile_vide1
{
	display: inline;
}

#etoiles_pleines2, #etoile_vide2
{
	display: inline;
}

#etoiles_pleines3, #etoile_vide3
{
	display: inline;
}

#etoiles_pleines4, #etoile_vide4
{
	display: inline;
}

#etoiles_pleines5, #etoile_vide5
{
	display: inline;
}

#etoiles_pleines6, #etoile_vide6
{
	display: inline;
}
#etoiles_pleines7, #etoile_vide7
{
	display: inline;
}
#etoiles_pleines8, #etoile_vide8
{
	display: inline;
}
#etoiles_pleines9, #etoile_vide9
{
	display: inline;
}

.fa-star
{
	color: #1f78fc;
	margin-right: -3px;
}

#etoile_vide1 .fa-star
{
	color: #e6e6e6;
}

#etoile_vide2 .fa-star
{
	color: #e6e6e6;
}

#etoile_vide3 .fa-star
{
	color: #e6e6e6;
}

#etoile_vide4 .fa-star
{
	color: #e6e6e6;
}

#etoile_vide5 .fa-star
{
	color: #e6e6e6;
}

#etoile_vide6 .fa-star
{
	color: #e6e6e6;
}

#etoile_vide7 .fa-star
{
	color: #e6e6e6;
}

#etoile_vide8 .fa-star
{
	color: #e6e6e6;
}

#etoile_vide9 .fa-star
{
	color: #e6e6e6;
}

/*-----Cannebiere-----*/
#cannebiere
{
	margin-bottom: 30px;
	padding-left: 30px;
}

#cannebiere_img
{
	width: 200px;
	height: 95px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 0px 0px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;
}

#description1 p, #description1
{
	margin-top: -10px;
	margin-bottom: 2px;
}

#description1
{
	margin-top: 100px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 193px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}


/*-----Hotel du port-----*/
#description2 p, #description2
{
	margin-top: -10px;
	margin-bottom: 2px;
}

#description2
{
	margin-top: 100px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 193px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#hotel_port_img
{
	width: 200px;
	height: 95px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 0px 0px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#hotel_port
{
	padding-left: 30px;
}

/*-----Hotel mouettes-----*/
#description3 p, #description3
{
	margin-top: -10px;
	margin-bottom: 2px;
}

#description3
{
	margin-top: 100px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 193px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#hotel_mouettes_img
{
	width: 200px;
	height: 95px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 0px 0px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#hotel_mouettes
{
	padding-left: 30px;
}

/*-----Hotel de la mer-----*/
#description4 p, #description4
{
	margin-top: -10px;
	margin-bottom: 2px;
}

#description4
{
	margin-top: 100px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 193px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#hotel_mer_img
{
	width: 200px;
	height: 115px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 0px 0px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#hotel_mer
{
	margin-bottom: 20px;
	padding-left: 30px;
}

/*-----Auberge-----*/
#description5 p, #description5
{
	margin-top: -10px;
	margin-bottom: 2px;
}

#description5
{
	margin-top: 100px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 193px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#auberge_img
{
	width: 200px;
	height: 95px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 0px 0px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#auberge
{
	padding-left: 30px;
}

/*-----hotel amina-----*/
#description6 p, #description6
{
	margin-top: -10px;
	margin-bottom: 2px;
}

#description6
{
	margin-top: 100px;
	padding-left: 15px;
	padding-top: 0.1px;
	z-index: 2;
	position: relative;
	border-radius: 0px 0px 17px 17px;
	background-color: white;
	width: 193px;
	height: 80px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
}

#hotel_amina_img
{
	width: 200px;
	height: 125px;
	margin-right: 120px;
	border: 4px solid white;
	border-radius: 17px 17px 0px 0px;
	z-index: 1;
	position: absolute;
	box-shadow: 0px -2px 5px 0px #d9d9d9;

}

#hotel_amina
{
	padding-left: 30px;
}

/*-----Boutton afficher plus-----*/
#afficher_plus
{
	margin-left: 30px;
}

#afficher_plus a
{
	text-decoration: none;
	color: black;
}

/*-----Zone plus populaires-----*/
#plus_populaires
{
	width: 335px;
}

section, section
{
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

#plus_populaires
{
	height: 530px;
	background-color: #f0f0f0;
	border-radius: 20px 20px 20px 20px;
	margin-top: 10px;
	padding-top: 20px;
}

#plus_populaires h2
{
	margin-right: 60px;
	padding-left: 30px;
	font-size: 20px;
}

#plus_populaires h3
{
	font-size: 15px;
}

#plus_populaires a
{
	text-decoration: none;
	color: black;
}

#plus_populaires p
{
	font-size: 12px;
}

#plus_populaires h2, #logo_graphique
{
	display: inline-block;
}

/*-----Soleil du matin-----*/
#description7 h3
{
	margin-bottom: -5px;
}

#description7 p
{
	margin-bottom: 23px;
}

#description7
{
	padding-top: 0.1px;
	padding-left: 18px;
	left: 110px;
	z-index: 2;
	position: relative;
	background-color: white;
	width: 142px;
	height: 123px;
	box-shadow: 10px 0px 10px 0px #d9d9d9;
	border-radius: 0 20px 20px 0;
}

#hotel_soleil_img
{
	width: 140px;
	height: 115px;
	border: 4px solid white;
	z-index: 1;
	position: absolute;
	box-shadow: -3px 0px 10px -1px #d9d9d9;
	border-radius: 20px 0 0 20px;

}

#hotel_soleil
{
	margin-bottom: 40px;
	padding-left: 30px;
}

/*-----Au coeur de l'eau-----*/
#description8 h3
{
	margin-bottom: -5px;
}

#description8 p
{
	margin-bottom: 23px;
}

#description8
{
	padding-top: 0.1px;
	padding-left: 18px;
	left: 110px;
	z-index: 2;
	position: relative;
	background-color: white;
	width: 142px;
	height: 123px;
	box-shadow: 10px 0px 10px 0px #d9d9d9;
	border-radius: 0 20px 20px 0;
}

#au_coeur_img
{
	width: 140px;
	height: 115px;
	border: 4px solid white;
	z-index: 1;
	position: absolute;
	box-shadow: -3px 0px 10px -1px #d9d9d9;
	border-radius: 20px 0 0 20px;

}

#au_coeur
{
	margin-bottom: 40px;
	padding-left: 30px;
}

/*-----Tout bleu et blanc-----*/
#description9 h3
{
	margin-bottom: -5px;
}

#description9 p
{
	margin-bottom: 23px;
}

#description9
{
	padding-top: 0.1px;
	padding-left: 18px;
	left: 110px;
	z-index: 2;
	position: relative;
	background-color: white;
	width: 142px;
	height: 123px;
	box-shadow: 10px 0px 10px 0px #d9d9d9;
	border-radius: 0 20px 20px 0;
}

#hotel_bleu_img
{
	width: 140px;
	height: 115px;
	border: 4px solid white;
	z-index: 1;
	position: absolute;
	box-shadow: -3px 0px 10px -1px #d9d9d9;
	border-radius: 20px 0 0 20px;

}

#hotel_bleu
{
	padding-left: 30px;
}

/*-----Activités-----*/
#activites_ancre
{
	font-size: 20px;
}

#activites a
{
	text-decoration: none;
}

#activites
{
	display: flex;
	margin-bottom: 60px;
}

@media (max-width: 1024px)
{
	#activites
	{
    	display: initial;
	}
}

#double1
{
	display: inline;
}

#activites_ancre
{
	position: absolute;
	height: 30px;
}

/*-----Vieux port-----*/
#vieux_port
{
	width: 250px;
	height: 310px;
	margin-right: 40px;
	margin-top: 70px;
	border-radius: 20px 20px 0 0;
	box-shadow: 0px -2px 5px 0px #d9d9d9;
}

#vieux_port_img
{
	margin-left: -120px;
	clip-path: inset(0px 130px 0px 120px round 4%);
	background-size: cover;
	position: absolute;
	width: 500px;
	border-radius: 15px 15px 0 0;
}

#vieux_port h3
{
	right: 1px;
	top: 300px;
	padding-left: 20px;
	padding-top: 15px;
	color: black;
	font-size: 15px;
	border-radius: 0 0 15px 15px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
	background-color: white;
	height: 30px;
	width: 231px;
	position: relative;
}

/*-----Fort-----*/
#fort
{
	margin-right: 40px;
	width: 252px;
	margin-top: 70px;
	height: 176px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px -2px 5px 0px #d9d9d9;
}

#fort_img
{
	margin-top: -100px;
	clip-path: inset(100px 17px 150px 0px round 5%);
	background-size: cover;
	width: 270px;
	position: relative;
}

#fort h3
{
	margin-top: -165px;
	padding-left: 20px;
	padding-top: 15px;
	color: black;
	font-size: 15px;
	border-radius: 0 0 15px 15px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
	background-color: white;
	height: 30px;
	width: 232px;
	position: absolute;

}

/*-----iles-----*/
#iles
{
	margin-top: 50px;
	width: 250px;
	height: 100px;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px -2px 5px 0px #d9d9d9;
}

#iles_img
{
	margin-top: -20px;
	clip-path: inset(20px 0px 48px 0px round 5%);
	background-size: cover;
	width: 250px;
}

#iles h3
{
	color: black;
	font-size: 15px;
	border-radius: 0 0 15px 15px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
	background-color: white;
	height: 30px;
	width: 230px;
	position: absolute;
	padding-left: 20px;
	padding-top: 15px;
	margin-top: -75px;
}

/*-----calanques-----*/
#calanques
{
	width: 250px;
	height: 330px;
	margin-right: 40px;
	margin-top: 70px;
	border-radius: 20px 20px 0 0;
	box-shadow: 0px -2px 5px 0px #d9d9d9;
}

#calanques_img
{
	margin-left: -120px;
	clip-path: inset(0px 130px 15px 120px round 4%);
	background-size: cover;
	width: 500px;
	position: relative;
}

#calanques h3
{
	margin-top: -32px;
	color: black;
	font-size: 15px;
	border-radius: 0 0 15px 15px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
	background-color: white;
	height: 30px;
	width: 230px;
	position: absolute;
	padding-left: 20px;
	padding-top: 15px;
}

/*-----Notre dame-----*/
#notre_dame
{
	margin-bottom: 50px;
	margin-top: 70px;
	width: 246px;
	height: 150px;
	border-radius: 20px 20px 0 0;
	box-shadow: 0px -2px 5px 0px #d9d9d9;
}

#notre_dame_img
{
	clip-path: inset(0px 0px 10px 0px);
	border-radius: 15px 15px 0 0;
	background-size: cover;
	width: 246px;
	position: relative;
}

#notre_dame h3
{
	margin-top: -45px;
	color: black;
	font-size: 15px;
	border-radius: 0 0 15px 15px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
	background-color: white;
	height: 30px;
	width: 226px;
	position: absolute;
	padding-left: 20px;
	padding-top: 15px;
}

/*-----Parc-----*/
#parc
{
	width: 246px;
	height: 145px;
	border-radius: 20px 20px 0 0;
	box-shadow: 0px -2px 5px 0px #d9d9d9;
}

#parc_img
{
	margin-top: -20px;
	clip-path: inset(20px 0px 34px 0px round 7%);
	background-size: cover;
	width: 246px;
	position: relative;
}

#parc h3
{
	margin-top: -64px;
	color: black;
	font-size: 15px;
	border-radius: 0 0 15px 15px;
	box-shadow: 0px 5px 5px 0px #d9d9d9;
	background-color: white;
	height: 30px;
	width: 226px;
	position: absolute;
	padding-left: 20px;
	padding-top: 15px;
}

/*-----Footer-----*/
footer a
{
	text-decoration: none;
}

footer li
{
	list-style-type: none;
}

footer
{
	margin-left: -60px;
	padding-left: 60px;
	padding-top: 25px;
	width: 1230px;
	height: 150px;
	background-color: #f0f0f0;
	display: flex;
}

@media (max-width: 1024px)
{
	footer
	{
    	width: 90%;
	}
}

/*-----A propos-----*/
#a_propos
{
	margin-right: 200px;
}

#a_propos h2
{
	font-size: 15px;
}

#a_propos li
{
	margin-left: -40px;
}

#a_propos a
{
	font-size: 10px;
	color: black;
}

/*-----Hebergements-----*/
#hebergements
{
	margin-right: 270px;
}

#hebergements h2
{
	font-size: 15px;
}

#hebergements a
{
	font-size: 10px;
	color: black;
}

#hebergements li
{
	margin-left: -40px;
}

/*-----Assistance-----*/
#assistance h2
{
	font-size: 15px;
}

#assistance a
{
	font-size: 10px;
	color: black;
}

#assistance li
{
	margin-left: -40px;
}